/.idea/.idea.ARPGDemo.dir/.idea/encodings.xml
/.idea/.idea.ARPGDemo.dir/.idea/indexLayout.xml
/.idea/.idea.ARPGDemo.dir/.idea/projectSettingsUpdater.xml
/.idea/.idea.ARPGDemo.dir/.idea/workspace.xml
/Saved/Logs/*.log
/Saved/WorldPartition/*.log
